/****Hero Image and nav******/
.bg-dark {
    background: transparent !important;
}

.bg-dark.scrolled {
    background: #636c4b !important;
}


html,
body,
header,
.intro {
    height: 100%;
}

/**overlay with background image*/
div.intro {
    background:
        /*linear gradient first*/
        linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        /*bottom image*/
        url(assets/blondewoods.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.booking-bg {
    background:
        /*linear gradient first*/
        linear-gradient(rgba(99, 108, 75, 0.9),
        rgba(99, 108, 75, 0.9)),
        /*bottom image*/
        url(assets/geometric2.jpg)no-repeat center center fixed;
    -webkit-background-size: fill;
    -moz-background-size: fill;
    -o-background-size: fill;
    background-size: fill;
}

/*****Custom Styles*******/
div.about-me-bg {
    background: #e9e7da;
}

div.portfolio-bg {
    background-image: linear-gradient(to bottom right, #636b46, #373f27);
}

.white-text {
    color: #fff;
}

.hr-light {
    border-color: #fff;
    width: 75%;
}

.hr-dark {
    border-color: #000;
    width: 5rem;
}

p.heading1 {
    text-align: left;
    font-size: 1.9rem;
    font-weight: 100;
    display: block;
    padding-top: 60px;
}

h2.display-4 {
    display: block;
    text-align: center;
}

p.heading2 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 100;
    display: block;
}

img.img-rounded {
   border-radius: 75%;
    height: auto;
    width: 50%;
    display: block;
    margin: auto;
}

/*Card section*/
div.card {
    border: none;
    background: #e9e7da;

}

div p.card-text {
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
}

div.card-align {
    display: block;
    margin: auto;
}

h5.card-heading {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 100;
    margin: none;
}

h5.card-subheading {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}


h4.center-header {
  text-align: center;
    font-size: 1.9rem;
    font-weight: 100;
    display: block;  
}

form.meg-contact {
    padding: 10px;
}

/*Media query for custom styles*/


@media screen and (min-width: 769px) {
    p.heading1 {
        text-align: center;
    }
    
    p.heading2 {
        text-align: center;
    }
    
    form.meg-contact {
        width: 75%;
        margin: auto;
    }
    
}


/*instafeed*/

div.instaimg {
    display: inline-block;
    width: 50%;
    height: auto;
    
}

div.instaimg img:hover {
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
}